
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    height:60px;
  }
  
  .links {
    display: flex;
  }
  
  .links a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
    transition: opacity 0.3s ease;
  }
  .links a:hover {
    color: #fff;  
    opacity: 0.8;
  }
  